$mock-up-width: 1952.36;
// $pop-up-width: 1240;
// $mobile-width: 767.98;
$vw: $mock-up-width/100vw;
$text-color: #646464;

.successful-working{
    &__container{
        position: relative;
        width: 1391.76/$vw;
        margin-top: 198.86/$vw;
        margin-bottom: 266.22/$vw;
        // margin-left: 130/$vw;
    }
    &__inner{
        // width: 635.42/$vw;
        margin-left: 60/$vw;
        display: flex;
        align-items: center;
        gap: 32.42/$vw;
    }
    &__content{
        width: 648.49/$vw;
    }
    &__years{
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 288/$vw;
        // line-height: 28/$vw;
        letter-spacing: -0.01em;
        color: #B0855B;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__title{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 50/$vw;
        line-height: 65/$vw;
        letter-spacing: 0.04em;
        color: #212121;
        margin-bottom: 35.86/$vw;
    }
    &__btn{
        display: block;
        width: 174.59/$vw;
        height: 43.86/$vw;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 18/$vw;
        line-height: 24/$vw;
        text-transform: uppercase;
        color: #fff;
        background-color: #37806B;
        border-radius: 20/$vw 0px;
        transition: .5s;
        &:hover{
            transition: 0.5s;
            transform: scale(1.05);
        }
    }
    &__image{
        position: relative;
    }
    &__img{
        width: 679.9/$vw;
        border-radius: 140/$vw 0;
        position: relative;
        z-index: 10;
    }
    &__image-decor{
        position: absolute;
        top: 27.43/$vw;
        left: 30.95/$vw;
        width: 679.9/$vw;
        height: 711.19/$vw;
        border: 2/$vw solid #B0855B;
        border-radius: 140/$vw 0;
    }
    &__decor{
        position: absolute;
        right: -250/$vw;
        bottom: 150/$vw;
        width: 212.55/$vw;
        height: 155.55/$vw;
        background-image: url('../../img/succesfullworking/successful-working-image.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}